/*trying to set the whole body to use the middle 70% of the window*/
.width {
    align-content: center;
    width: 70%;
}

.big {
    font-size: xx-large;
}

.right {
    float: right;
}

.white {
    color: whitesmoke;
}

.red {
    color: darkred;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

header div {
    margin-top: 16px;
}

.menu {
    background-color: transparent;
    border: 0;
    color: white;
}