/*trying to set the whole body to use the middle 70% of the window*/

body {
    width: 70%;
    margin: auto;
}

.big {
    font-size: xx-large;
}

.right {
    float: right;
}

.white {
    color: whitesmoke;
}

.ewu {
    color: #B7142E;
    display: inline;
}

header {
    width: 100%;
    padding: 2%;
    background-color: black;
}

.dropItems {
    display: none;
    position: fixed;
    right: 12%;
    background-color: white;
    border: 3px solid gray;
    max-width: 320px;
}

.dropItems button {
    border-radius: 10px;
    width: 300px;
}

.dropDown button {
    margin: 10px;
    display: block;
}

.show {
    display: inline;
}

button:hover {
    opacity: 70%;
}

.menu_button {
    background-image: linear-gradient(to right, #B7142E, gray);
    color: white;
    float: right;
}

.cardHeader {
    border-radius: 15px 15px 0 0;
    padding: 15px;
    background-color: lightgray;
}

.cardBody {
    padding: 15px;
    height: 125px;
}

.cardFooter {
    padding: 15px;
    border-top: solid darkgray 2px;
}

.card {
    border: solid darkgray 2px;
    border-radius: 15px;
}

.blueButton {
    background-image: linear-gradient(to right, lightblue, lightgray, lightblue);
}

.card button {
    padding: 1%;
}